
.nav-wrapper {
    display:flex;
    flex-direction: column;
}

.menu {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    color: #fff;
    margin: 1.6rem;
}

li {
    margin:0.65rem;


    /* Animated Bottom Line */
    a {

        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
        display: inline-block;
    
        position: relative;
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 1px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
          &:hover:after {
            width: 100%;
            left: 0;
          }
      }
}

